<h1>Claims#index</h1>
<p>Find me in app/views/claims/index.html.erb</p>


<%@claims.each_with_index do |c, index|%>
  <%@rents.each do |r|%>
    <%if r.id==c.rent_id%>
      <p>User: <%=User.find(r.user_id).email%><br>
        Description: <%=c.description%><br>
        Status: <%=c.status%><br>
        Price: <%=c.price%><br>
        Type: <%=c.type_of_claim%><br></p>
        <%end%>
      <%end%>
    <%end%>
