<div class="claimsContainer">
<h1>Claims#new</h1>


<%= form_for @claim do |f| %>
  <div class="claim_form">
    Price: <%= f.text_field :price %>
  </div><br>
  <div class="claim_form">
    Status: <%= f.text_field :status %>
  </div><br>
  <div class="claim_form">
    Type of Claim: <%= f.text_field :type_of_claim %>
  </div><br>
  <div class="claim_form">
    Description: <%= f.text_field :description %>
  </div><br>
  <%= f.submit %>
  <% end %>

</div>
