

  <div id="myCarousel" class="carousel myCarousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="<%=@properties[0].image.url%>" style="width:100%; height:100vh">
        <div class="carousel-caption d-none d-md-block">
            <h5><%=@properties[0].title%></h5>
            <p><%=@properties[0].description.truncate(50)%></p>
        </div>
      </div>

      <%@properties.drop(1).each do |f|%>
        <div class="item">
        <img src="<%=f.image.url%>" style="width:100%; height:100vh">
        <div class="carousel-caption d-none d-md-block">
            <h5><%=f.title%></h5>
            <p><%=f.description.truncate(50)%></p>
        </div>
      </div>

<%end%>


    <!-- Left and right controls -->
    <a  class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span   class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span     class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
