<h2>Rent this property</h2>


<%= bootstrap_form_for :rent, url:{action: 'assign', controller: 'rents'} do |f| %>
 <%=f.text_field :price%><br>
  <%=f.text_field :status%><br>
  <%=f.datetime_field :rent_date%><br>
 <%=f.datetime_field :devolution_date%><br>
<%=f.submit "Rent Property?"%><br>
<%= hidden_field_tag "property_id", @property.id %><br>
<%= hidden_field_tag "availability", @property.availability => "unavailable" %><br>
<%end%>
