
<div class='container'>
  <h1>Edit Properties</h1>

<%=bootstrap_form_for @property do |f| %>
  <div class="form-group">
    <%=f.text_field :title%>
    </div>
  <div class="form-group">
    <%=f.text_field :kind%>
  </div>
  <div class="form-group">
    <%=f.text_field :availability%>
  </div>
  <div class="form-group">
    <%=f.number_field :price%>
  </div>
  <div class="form-group">
    <%=f.number_field :lat%>
  </div>
  <div class="form-group">
    <%=f.number_field :lng%>
  </div>

  <div class="form-group">
   <%=f.text_field :description%>
  </div>
  <div class="form-group">
    <%=f.text_field :street%>
  </div>
  <div class="form-group">
    <%=f.text_field :apt%>
  </div>
  <div class="form-group">
    <%=f.text_field :city%>
  </div>
  <div class="form-group">
    <%=f.text_field :state%>
  </div>
  <div>
    <%= f.file_field :image %>
  </div>
  <%=f.submit :Submit, class: 'btn btn-lg btn-success' %>
<% end %>
<br>
<%= link_to "Delete Property",  property_path, method: :delete, class: 'btn btn-lg btn-danger' %>
<hr>
</end>
