
<div class='container'>
  <h1>Add a new Property</h1>

<%= bootstrap_form_for @property, html: {multipart: true} do |f| %>
  <div class="form-group">
      <%=f.text_field :title%>
    </div>
  <div class="form-group">
    <%= f.select :kind, options_for_select([["Select Property Type", ""], "House", "Apartment", "Condo", "Studio", "Loft"]), :class => 'genForm_dropBox' %>
  </div>
  <div class="form-group">

    <%= f.select :availability, options_for_select([["Select Availability", ""], "Available", "Occupied", "Available soon"]), :class => 'genForm_dropBox' %>

   </div>

  <div class="form-group">
      <%=f.number_field :price%>
  </div>
  <!-- <div class="form-group">
      <%=f.number_field :lat, value: number_to_currency(f.object.lat.to_f, delimiter: '', unit: ''), step: :any%>
  </div>
  <div class="form-group">
      <%=f.number_field :lng, value: number_to_currency(f.object.lng.to_f, delimiter: '', unit: ''), step: :any%>
  </div> -->

  <div class="form-group">
    <%=f.text_area :description,:value => "Add details here. Ex: Sq. feets: 900" , cols: 20, rows: 20 %>
  </div>
  <div class="form-group">
    <%=f.text_field :street%>
  </div>
  <div class="form-group">
    <%=f.text_field :apt%>
  </div>
  <div class="form-group">
    <%=f.text_field :city%>
  </div>
  <div class="form-group">
    <%=f.text_field :state%>
  </div>
  <div>
    <%= f.file_field :image %>
  </div>
<%=f.submit %>
<% end %>

</div>
