

<iframe  src="https://www.youtube.com/embed/ysiNjqduZqo?autoplay=1&controls=0&loop=1&list=PLQmom3TCTIdzjNMb6WTh8R-ageVTViSEL;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
</iframe>


<div class="container" style="position: absolute; z-index: 99; top:10%; left:20%; width: 60%">

            <div> <h2> Welcome to Best_Rentals </h2> <hr></div>

                  <%= bootstrap_form_for(resource,
                     as: resource_name,
                     url: session_path(resource_name)) do |f| %>

                  <%= f.email_field :email,
                      autofocus: true,
                      class: 'form-control',
                      placeholder: 'email' %>

                  <%= f.password_field  :password,
                      autocomplete: "off",
                      class: 'form-control',
                      placeholder: 'password' %>

                  <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %>
                <% end -%>
                  <%= f.submit "Log in", class: 'form-control login-button' %>
                    <% end %>

  </div>
