
<%= render 'properties/gallery' %>
<div class='row'>

  <div class='propertyPageEmpty col-lg-12'>
  </div>

  <div class='propertyInfoOnShowPage col-lg-12'>
      <div class="container">

        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12">

            <h1><%=@property.title%></h1><br>

                        Title: <%=@property.title%><br>
                        Availability: <%=@property.availability%><br>
                        Property type: <%=@property.kind%><br>
                        Price: <%=@property.price%><br>
                        Latitude: <%=@property.lat%><br>
                        Longtude: <%=@property.lng%><br>
                        Description: <%=@property.description%><br>
                        Street: <%=@property.street%><br>
                        Apt: <%=@property.apt%><br>
                        City: <%=@property.city%><br>
                        State: <%=@property.state%><br>

          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">

            <%= render 'properties/rentform.htlm.erb' %>

          </div>
        </div>
        </div>
      </div>

<div class='propertyInfoOnShowPage col-lg-12'>

      <%= render 'properties/map' %>

  </div>
</div>
