
<%= render 'properties/gallery' %>


<div class='container'>
<h1><%=@property.title%></h1><br>
<strong><%=@property.title%></strong><br>
<div><%= image_tag @property.image.url(:large)%></div>

<%=@property.kind%><br>
<%=@property.availability%><br>
<%=@property.price%><br>
<%=@property.lat%><br>
<%=@property.lng%><br>
<%=@property.description%><br>
<%=@property.street%><br>
<%=@property.apt%><br>
<%=@property.city%><br>
<%=@property.state%><br>
<div class='mapOnShowPage'>
    <div id="map"></div>


</div>

<h1>Properties for Rent </h1>
<p>Find me in app/views/properties/show.html.erb</p>
Title: <%=@property.title%><br>
Property type: <%=@property.availability%><br>
Price: <%=@property.price%><br>
Latitude: <%=@property.lat%><br>
Longtude: <%=@property.lng%><br>
Description: <%=@property.description%><br>
Street: <%=@property.street%><br>
Apt: <%=@property.apt%><br>
City: <%=@property.city%><br>
State: <%=@property.state%><br>



<h2>Rent property</h2>

<%= form_for :rent, url:{action: 'assign', controller: 'rents'} do |f| %>
Price: <%=f.text_field :price%><br>
Status: <%=f.text_field :status%><br>
Rent date: <%=f.datetime_field :rent_date%><br>
Devolution date: <%=f.datetime_field :devolution_date%><br>
<%=f.submit "Rent Property?"%><br>




<%= hidden_field_tag "property_id", @property.id %><br>

<%end%>




<!-- MAP -->
<script>

// Initialize and add the map
function initMap() {
// The location of Uluru
var uluru = { lat: <%=@lat%>, lng: <%=@lng%>};
// The map, centered at Uluru
var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 16, center: uluru});
// The marker, positioned at Uluru
var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=@apiKey%>&callback=initMap">

</script>

<!-- END of MAP -->

  <%= render 'properties/map' %>
