<h2>Rent this property</h2>


<%= bootstrap_form_for :rent, url:{action: 'assign', controller: 'rents'} do |f| %>


   <%= flash[:errors]  %>


 <%=f.text_field :price, :readonly => true%> <br>
   <%=f.date_field :rent_date, :value => Time.now.strftime('%Y-%m-%d'), class: :rentDate%> <br>

 <%=f.date_field :devolution_date, :value => Time.now, class: :devolDate %><br>
<%=f.submit "Rent Property?"%><br>
<%= hidden_field_tag "property_id", @property.id %><br>
<%= hidden_field_tag "availability", @property.availability => "unavailable" %><br>
<%end%>
