<h1>Rents#index</h1>
<p>Find me in app/views/rents/index.html.erb</p>

<%@rents.each_with_index do |r, index|%>
<p><%=User.find(r.user_id).email%><br>
<li>Devolution: <%=r.devolution_date%></li>
<li>Rent date: <%=r.rent_date%></li>
<li>Price: <%=r.price%></li>
<li>Status: <%=r.status%></li>
<br>
  <a href="/rents/<%=r.id%>">Create Claim?</a></p>
<%end%>
