<iframe class="editIframe"  src="https://www.youtube.com/embed/b4nxxqa4Pdg?autoplay=1&controls=0&loop=1&list=PLQmom3TCTIdxE5LtGYLQ5rcKYV81ldta9;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
</iframe>


<div style="color: white; background:none;" class='container'>
  <h1>Rents:</h1>


  <div class='container'>


  <div class="row">

Price: <%= @rent.price %><br>
Status: <%= @rent.status %><br>
Rent Date: <%= @rent.rent_date %><br>
devolution_Date: <%= @rent.devolution_date %><br>


<% if current_admin%>
<h1>Create#claim</h1>
<%=bootstrap_form_for @claim do |f| %>
  <div class="form-group">
       <%=f.text_field :description%>
    </div>
  <div class="form-group">
  <%=f.text_field :status%>
  </div>
  <div class="form-group">
 <%=f.text_field :type_of_claim%>
  </div>
  <div class="form-group">
  <%=f.number_field :price%>
  </div>
  <div class="form-group">
  <%= hidden_field_tag "rent_id", @rent.id %>


<%=f.submit %><br>
<span class="btn btn-lg btn-warning"> <%= link_to "Edit", edit_property_path %> </span>
<% end %>
<%end%>
</end>

</div>

</div>
