<image class='avatar thumbnail' src="https://images.unsplash.com/photo-1494475673543-6a6a27143fc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8ac1cd959c612d4991a81c31ec840399&auto=format&fit=crop&w=634&q=80">

<div id="editPageContainer" class="container">
    <div class="row">
          <div id="loginPageLeft" class="col-lg-6 col-sm-12">
              <br>
                <hr class="hr-text" data-content="<%= current_user.email %>">
                <br>

                  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="panel panel-info">
                    <div class="panel-body">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="panel panel-info">
                    <div class="panel-body">
                      <%= f.password_field :password, autocomplete: "off" %>
                      <% if @minimum_password_length %>
                      <% end %>
                    </div>
                   </div>

                   <div class="panel panel-info">
                     <div class="panel-body">
                       <%= f.password_field :password_confirmation, autocomplete: "off" %>
                     </div>
                   </div>

                   <div class="panel panel-info">
                     <div class="panel-body">
                       <%= f.password_field :current_password, autocomplete: "off" %>
                     </div>
                   </div>

                   <div class="actions pull-right">
                      <%= f.submit "Update" %>
                    </div>

                    <% end %>
                <br>
              <hr>
            </div>



<div id='loginPageRigth' class="col-lg-6 col-sm-12">

  <div class="panel panel-info">
    <div class="panel-heading">
       My Rents
        <span class="badge">0</span>
    </div>
    <div class="panel-body">
  <!--
      <% if @rents != nil %>
      <%@rents.each do |r|%>
      <% if r.user_id = current_user.id%>
      <%=r.price%><br>
      <%=r.status%><br>

    <%else%>
      You do not have any Rents right now
      <%end%>
    <%end%>
    <%end%> -->
    <%if @user.rents.length != nil%>
      <%@user.rents.each do |u|%>
      <p> <li> User: <%=current_user.email%><br>
        Status: <%=u.status%><br>
        Price: <%=u.price%><br>
        Rent date: <%=u.rent_date%><br>
        Devolution date: <%=u.devolution_date%></li><br></p>
      <%end%>
    <%end%>

    <%if @user.rents.length == nil%>
      You do not have any Rents right now
    <%end%>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading"> My Claims
        <span class="badge">0</span>
    </div>
    <div class="panel-body">

  <%@claims.each do |c|%>
  <%if @user.rents.length != nil%>
    <%@user.rents.each do |r|%>
      <%if c.rent_id == r.id%>
            <p><li> User: <%=User.find(r.user_id).email%><br>
              Description: <%=c.description%><br>
              Status: <%=c.status%><br>
              Price: <%=c.price%><br>
              Type: <%=c.type_of_claim%></li><br></p>
              <%end%>
            <%end%>
          <%end%>
      <%if @user.rents.length == nil%>
          You do not have any Claims right now
        <%end%>
      <%end%>
    </div>
  </div>


    <div class="panel panel-info">
      <div class="panel-heading">
        My Documents
          <span class="badge">0</span>
      </div>
      <div class="panel-body">
        You haven't uploaded anything yet.
        <button class="btn btn-sm btn-warning">Upload Document </button>
      </div>
    </div>

     <hr>
        <div class="panel-body">
          <h3>Cancel my account</h3>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
  </div>

</div>


</div>
